<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="三相智慧能源网关调试软件.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <三相智慧能源网关调试软件.Properties.Settings>
            <setting name="AccessConnectionStr" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=.\UserInfo.mdb;</value>
            </setting>
            <setting name="CurrentUser" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="CurrentPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GatewayIpAddress" serializeAs="String">
                <value>192.168.1.100</value>
            </setting>
            <setting name="CmdStr1" serializeAs="String">
                <value>{"cmd_type":13, "data":"0"}</value>
            </setting>
            <setting name="InstantDataRefreshInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SerialPortViewModelConfigFilePath" serializeAs="String">
                <value>.\Config\SerialPortViewModelConfig.json</value>
            </setting>
            <setting name="BaseMeterUpGradeFile" serializeAs="String">
                <value />
            </setting>
            <setting name="PrimarySkin" serializeAs="String">
                <value>#FF3F51B5</value>
            </setting>
            <setting name="GatewayPort" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="GatewayConnectTimeout" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="IsDarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AccentSkin" serializeAs="String">
                <value>#FF3F51B5</value>
            </setting>
            <setting name="TftpServerDirectory" serializeAs="String">
                <value>.\TFTPServerFiles</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>TO DO</value>
            </setting>
            <setting name="ExcelFileName" serializeAs="String">
                <value>DLMS设备信息.xls</value>
            </setting>
            <setting name="DlmsDataSheetName" serializeAs="String">
                <value>Data$</value>
            </setting>
        </三相智慧能源网关调试软件.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
